{% extends "base.html" %}

{% block content %}

<h1>Exam Page</h1>

<p> My name is Billy Goddard and I am a college golfer at Georgia College and State University. I spend most of my free time playing golf, but I also enjoy other hobbies. Another interest of mine is guitar. I have been playing guitar for about 4 years now. It is fun to watch your progression over time and watch yourself get better. Another hobby I have is hunting. There is no better way to take in or to appreciate nature like sitting in a tree in the fall. The smell, the sound, it is all incredible. Another hobby I really enjoy doing is fishing. There is something so peaceful about being on the water and the bonus of reeling any fish in makes for a great day.</p>

{% endblock %}